<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nursery_Production_Software.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nursery_Production_Software.Properties.Settings>
            <setting name="dbAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="stylTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stylStyle" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value />
            </setting>
            <setting name="sysUser" serializeAs="String">
                <value />
            </setting>
        </Nursery_Production_Software.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>
